.botao {
    background-color: #0f1925;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 18px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
    border-radius: 18px;
}

.botao:hover {
    color: #0097b2;
}
